<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Puma</title>
    <link rel="stylesheet" href="pumastyle.css">

</head>


<body id="body">


    <div id="a1">
        <h1 id="h11">JOIN THE PUMA FAM. EXPLORE CAREERS AT PUMA. <u>CLICK HERE</u> </h1>
    </div>
    


    <div id="a2">

        <img id="image" src="Untitled design (1).png" alt="">

        <h2 id="h12"> 
        
            <ul>
                <li>New Arrivals</li>
                <li>Women</li>
                <li>Men</li>
                <li>Kids</li>
                <li>Collaborations</li>
                <li>Sports</li>
                <li>Sale</li>
            </ul>
        
        </h2>
        <input type="text" id="searchBox" placeholder="Search Items">

    </div>





    <div id="a3">
    
        <h1 id="h13">NEW ARRIVALS FOR FALL ARE HERE </h1>
        <h1 id="h14"> <u>SHOP WOMEN </u> &nbsp;&nbsp; <u>SHOP MEN</u> &nbsp;&nbsp; <u>SHOP KIDS</u></h1>
        
    </div>



    <div id="a4">
        
        <img id="img" src="one.jpg" alt="one">
        <h1 id="h15">WE ARE LEGENDS</h1>
        <h1 id="h16">CELEBRATING BLACK EXCELLENCE</h1>
        <button id="h21">SHOP NOW</button>

    </div>

    
    <div id="a5">
                
    </div>

    <div id="a6">
        
        <img id="img" src="two.jpg" alt="two">
        <h1 id="h19">PUMA x MINECRAFT</h1>
        <h1 id="h20">INTO THE NETHER</h1>
    </div>

    <div id="a7">
    
        <h1 id="h17">ALWAYS INNOVATING</h1>
        <h2 id="h18">CHECK OUT THE NEWEST ARRIVALS</h2>

    </div>

    <div id="a8">
        
        <img id="img" src="ab.png" alt="three">
        
    </div>

</body>
</html>